<ion-header [translucent]="true" *ngIf="desktop">
  <ion-toolbar color = "primary">
    <ion-avatar slot="start">
      <ion-img src="/assets/icon/logo.png"></ion-img>
    </ion-avatar>
    <ion-buttons slot="start"  style="margin-left: 30%; margin-right: 30%">
      <ion-button [routerLink]="['/tabs/tab1']">Сотрудники</ion-button>
      <ion-button [routerLink]="['/tabs/tab3']">Вакансии</ion-button>
      <ion-button [routerLink]="['/tabs/tab4']">Проекты</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header [translucent]="true" *ngIf="mobile">
  <ion-toolbar color = "primary">
    <ion-title>
      Вакансии
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar *ngIf="mobile">
  <ion-segment  (ionChange)="segmentChanged($event)">
    <ion-segment-button value="presale">
      <ion-label>Пресейл</ion-label>
    </ion-segment-button>
    <ion-segment-button value="commerce">
      <ion-label>Коммерция</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-content *ngIf="mobile">
  <ion-content  *ngIf = "slotToShow === 'presale'" >
  <ion-grid>
    <ion-row>
      <ion-col size-md ="6" offset-md = "3">
        <ion-searchbar ></ion-searchbar>
        <ion-card #presale *ngFor="let row of presaleProjectData ">
          <ion-card-header>Пресейл</ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item button (click) = "goToDetails(row.id)" color = "success">
                <ion-label>{{row.direction}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Заказчик</ion-label>
                <ion-note slot="end" color="primary"><p>{{row.customer}}</p></ion-note>
              </ion-item>
              <ion-item>
                <ion-label>Проект</ion-label>
                <ion-note slot="end" color="primary"><p>{{row.project}}</p></ion-note>
              </ion-item>
              <ion-item>
                <ion-label>Ответственный за пресейл</ion-label>
                <ion-note slot="end" color="primary"><p>{{row.leader}}</p></ion-note>
              </ion-item>
              <ion-item>
                <ion-label>Этап пресейла</ion-label>
                <ion-note slot="end" color="primary"><p>{{row.stage}}</p></ion-note>
              </ion-item>
              <ion-item>
                <ion-label>Статус</ion-label>
                <ion-note slot="end" color="primary"><p>{{row.status}}</p></ion-note>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  <ion-content *ngIf = "slotToShow === 'commerce'" >
   <ion-grid>
    <ion-row>
      <ion-col size-md ="6" offset-md = "3">
        <ion-searchbar [(ngModel)] = "searchStr"></ion-searchbar>
        <ion-card *ngFor="let row of projectData | search: searchStr">
          <ion-card-header>Коммерция</ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item button (click) = "goToCommercePage(row.id)" color = "success">
                <ion-label>{{row.name}}</ion-label>
              </ion-item>  
              <ion-item>
                <ion-label>Направление</ion-label>
                <ion-note slot="end" color="primary"><p>Направление 1</p></ion-note>
              </ion-item>  
              <ion-item>
                <ion-label>Руководитель</ion-label>
                <ion-note slot="end" color="primary"><p>{{row.leader}}</p></ion-note>
              </ion-item>  
              <ion-item>
                <ion-label>Активный этап</ion-label>
                <ion-note slot="end" color="primary"><p>Этап 1</p></ion-note>
              </ion-item> 
              <ion-item>
                <ion-label>Статус этапа</ion-label>
                <ion-note slot="end" color="primary"><p>Статус 1</p></ion-note>
              </ion-item>
              <mat-accordion >
                <mat-expansion-panel hideToggle *ngFor="let row of stageData" >
                  <mat-expansion-panel-header >
                    <mat-panel-title>
                      {{row.title}}
                    </mat-panel-title>
                    <mat-panel-description style="color: black;">
                      {{row.stageStatus}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ion-list >
                    <ion-item color = "success">
                      <ion-label> Статус акта</ion-label>
                      <ion-note slot="end"><p style="font-size: 15px; color:white;">Подписан</p></ion-note>
                    </ion-item>
                    <ion-item>
                      <ion-label>Реквезиты</ion-label>
                      <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.reqi}}</p></ion-note>
                    </ion-item>
                    <ion-item>
                      <ion-label>Срок окончания этапа</ion-label>
                      <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                    </ion-item>
                    <ion-item>
                      <ion-label>Дата подписания акта</ion-label>
                      <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                    </ion-item>
                    <ion-item>
                      <ion-label>Сумма по этапу (с НДС)</ion-label>
                      <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.sum1}} $</p></ion-note>
                    </ion-item>
                    <ion-item>
                      <ion-label>Сумма выплат субподрядчикам, лицензиям и т.д.</ion-label>
                      <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.sum2}} $</p></ion-note>
                    </ion-item>
                    <ion-item>
                      <ion-label>Итого</ion-label>
                      <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.sum3}} $</p></ion-note>
                    </ion-item>
                    <ion-item>
                      <ion-label>Дата оплаты по договору</ion-label>
                      <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                    </ion-item>
                    <ion-item>
                      <ion-label>Фактическая дата оплаты</ion-label>
                      <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Комментарии этапа</ion-label>
                      <ion-textarea></ion-textarea>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Проблемы этапа</ion-label>
                      <ion-textarea [(ngModel)]="row.problem"></ion-textarea>
                    </ion-item>
                  </ion-list>
                </mat-expansion-panel>
              </mat-accordion>
            </ion-list>
            <hr>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
</ion-content>
<ion-content *ngIf="desktop">
  <ion-content  *ngIf = "slotToShow === 'presale'" >
    <ion-content *ngIf="tabToShow === 'archive'">
    <ion-grid>
      <ion-row>
        <ion-col size-md ="10" offset-md = "1">
          <ion-searchbar ></ion-searchbar>
          <ion-toolbar>
          <ion-segment  (ionChange)="segmentChanged($event)">
            <ion-segment-button value="presale">
              <ion-label>Пресейл</ion-label>
            </ion-segment-button>
            <ion-segment-button value="commerce">
              <ion-label>Коммерция</ion-label>
            </ion-segment-button>
          </ion-segment>
          <ion-buttons slot="end">
            <ion-segment (ionChange)="tabChanged($event)">
              <ion-label> Aрхив</ion-label>
              <ion-toggle value="action"></ion-toggle>
              <ion-label>В работе</ion-label>
            </ion-segment>
          </ion-buttons>
          </ion-toolbar>
          <ion-toolbar>
            <mat-accordion >
              <mat-expansion-panel hideToggle >
                <mat-expansion-panel-header >
                  <mat-panel-title>
                    Фильтры
                  </mat-panel-title>
                  <mat-panel-description style="color: black;">
                  </mat-panel-description>
                </mat-expansion-panel-header>
            <ion-button  >
              Ответственный
            </ion-button >
            <ion-button >
              Этап
              <ion-select multiple="true" cancelText="Отменить" okText="Сохранить" (ionChange)="changeFilters()" [(ngModel)]="selectValue" id="selector">
                <ion-select-option value="Этап1">Этап1</ion-select-option>
                <ion-select-option value="Этап2">Этап 2 </ion-select-option>
                <ion-select-option value="xcheese">Этап 3 </ion-select-option>
                <ion-select-option value="peppers">Этап 4</ion-select-option>
              </ion-select>
            </ion-button>
            <ion-button (click)="chooseDate()">
              Дата
            </ion-button>
            <ion-buttons *ngIf="date" >
              <ion-item >
                <ion-datetime displayFormat="DD MM YYYY" type="datetime-local" placeholder="Выбирете начальную дату"></ion-datetime>
              </ion-item>
              <ion-item style="margin-left: 20px" >
                <ion-datetime displayFormat="DD MM YYYY" type="datetime-local" placeholder="Выбирете конечную дату"></ion-datetime>
              </ion-item>
              <ion-button color="primary" style="margin-left: 20px">
                Применить
              </ion-button>
            </ion-buttons>
              </mat-expansion-panel>
            </mat-accordion>
          </ion-toolbar>
          <ion-card  *ngFor="let row of presaleProjectData ">
            <ion-card-header>Пресейл</ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item button (click) = "goToDetails(row.id)" color = "success">
                  <ion-label>{{row.direction}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Заказчик</ion-label>
                  <ion-note slot="end" color="primary"><p>{{row.customer}}</p></ion-note>
                </ion-item>
                <ion-item>
                  <ion-label>Проект</ion-label>
                  <ion-note slot="end" color="primary"><p>{{row.project}}</p></ion-note>
                </ion-item>
                <ion-item>
                  <ion-label>Ответственный за пресейл</ion-label>
                  <ion-note slot="end" color="primary"><p>{{row.leader}}</p></ion-note>
                </ion-item>
                <ion-item>
                  <ion-label>Этап пресейла</ion-label>
                  <ion-note slot="end" color="primary"><p>{{row.stage}}</p></ion-note>
                </ion-item>
                <ion-item>
                  <ion-label>Статус</ion-label>
                  <ion-note slot="end" color="primary"><p>{{row.status}}</p></ion-note>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-content>
    <ion-content *ngIf="tabToShow === 'action'">
      <ion-grid>
        <ion-row>
          <ion-col size-md ="10" offset-md = "1">
            <ion-searchbar ></ion-searchbar>
           <ion-toolbar>
            <ion-segment  (ionChange)="segmentChanged($event)">
              <ion-segment-button value="presale">
                <ion-label>Пресейл</ion-label>
              </ion-segment-button>
              <ion-segment-button value="commerce">
                <ion-label>Коммерция</ion-label>
              </ion-segment-button>
            </ion-segment>
           <ion-buttons slot="end">
            <ion-segment (ionChange)="tabChanged($event)">
              <ion-label> Архив </ion-label>
              <ion-toggle value="archive" checked="true"></ion-toggle>
              <ion-label>В работе</ion-label>
            </ion-segment>
           </ion-buttons>
           </ion-toolbar>
            <ion-card  *ngFor="let row of presaleProjectData ">
              <ion-card-header>Пресейл</ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item button (click) = "goToDetails(row.id)" color = "success">
                    <ion-label>{{row.direction}} 11111111111</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Заказчик</ion-label>
                    <ion-note slot="end" color="primary"><p>{{row.customer}}</p></ion-note>
                  </ion-item>
                  <ion-item>
                    <ion-label>Проект</ion-label>
                    <ion-note slot="end" color="primary"><p>{{row.project}}</p></ion-note>
                  </ion-item>
                  <ion-item>
                    <ion-label>Ответственный за пресейл</ion-label>
                    <ion-note slot="end" color="primary"><p>{{row.leader}}</p></ion-note>
                  </ion-item>
                  <ion-item>
                    <ion-label>Этап пресейла</ion-label>
                    <ion-note slot="end" color="primary"><p>{{row.stage}}</p></ion-note>
                  </ion-item>
                  <ion-item>
                    <ion-label>Статус</ion-label>
                    <ion-note slot="end" color="primary"><p>{{row.status}}</p></ion-note>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-content>
  <ion-content *ngIf = "slotToShow === 'commerce'" >
    <ion-content *ngIf="tabToShowCommerce === 'arciveCommerce'">
    <ion-grid>
      <ion-row>
        <ion-col size-md ="10" offset-md = "1">
          <ion-searchbar [(ngModel)] = "searchStr"></ion-searchbar>
          <ion-toolbar>
            <ion-segment  (ionChange)="segmentChanged($event)">
              <ion-segment-button value="presale">
                <ion-label>Пресейл</ion-label>
              </ion-segment-button>
              <ion-segment-button value="commerce">
                <ion-label>Коммерция</ion-label>
              </ion-segment-button>
            </ion-segment>
            <ion-buttons slot="end">
              <ion-segment (ionChange)="tabCommerceChange($event)">
                <ion-label> Архив </ion-label>
                <ion-toggle value="activeCommerce" ></ion-toggle>
                <ion-label>В работе</ion-label>
              </ion-segment>
            </ion-buttons>

          </ion-toolbar>
          <ion-card *ngFor="let row of commerceProjectData | search: searchStr">
            <ion-card-header>Коммерция</ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item button (click) = "goToCommercePage(row.id)" color = "success">
                  <ion-label>{{row.name}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Направление</ion-label>
                  <ion-note slot="end" color="primary"><p>Направление 1</p></ion-note>
                </ion-item>
                <ion-item>
                  <ion-label>Руководитель</ion-label>
                  <ion-note slot="end" color="primary"><p>{{row.leader}}</p></ion-note>
                </ion-item>
                <ion-item>
                  <ion-label>Активный этап</ion-label>
                  <ion-note slot="end" color="primary"><p>Этап 1</p></ion-note>
                </ion-item>
                <ion-item>
                  <ion-label>Статус этапа</ion-label>
                  <ion-note slot="end" color="primary"><p>Статус 1</p></ion-note>
                </ion-item>
                <mat-accordion >
                  <mat-expansion-panel hideToggle *ngFor="let row of stageData" >
                    <mat-expansion-panel-header >
                      <mat-panel-title>
                        Последний этап
                      </mat-panel-title>
                      <mat-panel-description style="color: black;">
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <ion-list >
                      {{row.title}} <br>
                      {{row.stageStatus}}
                      <ion-item color = "success">
                        <ion-label> Статус акта</ion-label>
                        <ion-note slot="end"><p style="font-size: 15px; color:white;">Подписан</p></ion-note>
                      </ion-item>
                      <ion-item>
                        <ion-label>Реквезиты</ion-label>
                        <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.reqi}}</p></ion-note>
                      </ion-item>
                      <ion-item>
                        <ion-label>Срок окончания этапа</ion-label>
                        <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>Дата подписания акта</ion-label>
                        <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>Сумма по этапу (с НДС)</ion-label>
                        <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.sum1}} $</p></ion-note>
                      </ion-item>
                      <ion-item>
                        <ion-label>Сумма выплат субподрядчикам, лицензиям и т.д.</ion-label>
                        <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.sum2}} $</p></ion-note>
                      </ion-item>
                      <ion-item>
                        <ion-label>Итого</ion-label>
                        <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.sum3}} $</p></ion-note>
                      </ion-item>
                      <ion-item>
                        <ion-label>Дата оплаты по договору</ion-label>
                        <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>Фактическая дата оплаты</ion-label>
                        <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">Комментарии этапа</ion-label>
                        <ion-textarea></ion-textarea>
                      </ion-item>
                      <ion-item>
                        <ion-label position="floating">Проблемы этапа</ion-label>
                        <ion-textarea [(ngModel)]="row.problem"></ion-textarea>
                      </ion-item>
                    </ion-list>
                  </mat-expansion-panel>
                </mat-accordion>
              </ion-list>
              <hr>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
    <ion-content *ngIf="tabToShowCommerce === 'activeCommerce'">
      <ion-grid>
        <ion-row>
          <ion-col size-md ="10" offset-md = "1">
            <ion-searchbar [(ngModel)] = "searchStr"></ion-searchbar>
            <ion-toolbar>
              <ion-segment  (ionChange)="segmentChanged($event)">
                <ion-segment-button value="presale">
                  <ion-label>Пресейл</ion-label>
                </ion-segment-button>
                <ion-segment-button value="commerce">
                  <ion-label>Коммерция</ion-label>
                </ion-segment-button>
              </ion-segment>
              <ion-buttons slot="end">
                <ion-segment (ionChange)="tabCommerceChange($event)">
                  <ion-label> Архив </ion-label>
                  <ion-toggle value="arciveCommerce" checked="true"></ion-toggle>
                  <ion-label>В работе</ion-label>
                </ion-segment>
              </ion-buttons>
            </ion-toolbar>
            <ion-card *ngFor="let row of projectData | search: searchStr">
              <ion-card-header>Коммерция</ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item button (click) = "goToCommercePage(row.id)" color = "success">
                    <ion-label>{{row.name}}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Направление</ion-label>
                    <ion-note slot="end" color="primary"><p>Направление 1</p></ion-note>
                  </ion-item>
                  <ion-item>
                    <ion-label>Руководитель</ion-label>
                    <ion-note slot="end" color="primary"><p>{{row.leader}}</p></ion-note>
                  </ion-item>
                  <ion-item>
                    <ion-label>Активный этап</ion-label>
                    <ion-note slot="end" color="primary"><p>Этап 1</p></ion-note>
                  </ion-item>
                  <ion-item>
                    <ion-label>Статус этапа</ion-label>
                    <ion-note slot="end" color="primary"><p>Статус 1</p></ion-note>
                  </ion-item>
                  <mat-accordion >
                    <mat-expansion-panel hideToggle *ngFor="let row of stageData" >
                      <mat-expansion-panel-header >
                        <mat-panel-title>
                          {{row.title}}
                        </mat-panel-title>
                        <mat-panel-description style="color: black;">
                          {{row.stageStatus}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <ion-list >
                        <ion-item color = "success">
                          <ion-label> Статус акта</ion-label>
                          <ion-note slot="end"><p style="font-size: 15px; color:white;">Подписан</p></ion-note>
                        </ion-item>
                        <ion-item>
                          <ion-label>Реквезиты</ion-label>
                          <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.reqi}}</p></ion-note>
                        </ion-item>
                        <ion-item>
                          <ion-label>Срок окончания этапа</ion-label>
                          <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                        </ion-item>
                        <ion-item>
                          <ion-label>Дата подписания акта</ion-label>
                          <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                        </ion-item>
                        <ion-item>
                          <ion-label>Сумма по этапу (с НДС)</ion-label>
                          <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.sum1}} $</p></ion-note>
                        </ion-item>
                        <ion-item>
                          <ion-label>Сумма выплат субподрядчикам, лицензиям и т.д.</ion-label>
                          <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.sum2}} $</p></ion-note>
                        </ion-item>
                        <ion-item>
                          <ion-label>Итого</ion-label>
                          <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.sum3}} $</p></ion-note>
                        </ion-item>
                        <ion-item>
                          <ion-label>Дата оплаты по договору</ion-label>
                          <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                        </ion-item>
                        <ion-item>
                          <ion-label>Фактическая дата оплаты</ion-label>
                          <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                        </ion-item>
                        <ion-item>
                          <ion-label position="floating">Комментарии этапа</ion-label>
                          <ion-textarea></ion-textarea>
                        </ion-item>
                        <ion-item>
                          <ion-label position="floating">Проблемы этапа</ion-label>
                          <ion-textarea [(ngModel)]="row.problem"></ion-textarea>
                        </ion-item>
                      </ion-list>
                    </mat-expansion-panel>
                  </mat-accordion>
                </ion-list>
                <hr>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
   </ion-content>
</ion-content>
