<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-buttons slot="end">
      <ion-button>
        Аккаунт
      </ion-button>
    </ion-buttons>
    <ion-title>Проекты</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-segment  (ionChange)="segmentChanged($event)">
    <ion-segment-button value="presale">
      <ion-label>Пресейл</ion-label>
    </ion-segment-button>
    <ion-segment-button value="commerce">
      <ion-label>Коммерция</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content  *ngIf = "slotToShow === 'presale'" >
  <ion-grid>
    <ion-row>
      <ion-col size-md ="6" offset-md = "3">
        <ion-searchbar ></ion-searchbar>
        <ion-card #presale *ngFor="let row of presaleProjectData ">
          <ion-card-header>Пресейл</ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item button (click) = "goToDetails(row.id)" color = "success">
                <ion-label>{{row.direction}}</ion-label>
              </ion-item>  
              <ion-item>
                <ion-label>Заказчик</ion-label>
                <ion-note slot="end" color="primary"><p>{{row.customer}}</p></ion-note>
              </ion-item>  
              <ion-item>
                <ion-label>Проект</ion-label>
                <ion-note slot="end" color="primary"><p>{{row.project}}</p></ion-note>
              </ion-item>  
              <ion-item>
                <ion-label>Ответственный за пресейл</ion-label>
                <ion-note slot="end" color="primary"><p>{{row.leader}}</p></ion-note>
              </ion-item> 
              <ion-item>
                <ion-label>Этап пресейла</ion-label>
                <ion-note slot="end" color="primary"><p>{{row.stage}}</p></ion-note>
              </ion-item> 
              <ion-item>
                <ion-label>Статус</ion-label>
                <ion-note slot="end" color="primary"><p>{{row.status}}</p></ion-note>
              </ion-item>  
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf = "slotToShow === 'commerce'" >
  <ion-grid>
    <ion-row>
      <ion-col size-md ="6" offset-md = "3">
        <ion-searchbar [(ngModel)] = "searchStr"></ion-searchbar>
        <ion-card *ngFor="let row of projectData | search: searchStr">
          <ion-card-header>Коммерция</ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item button (click) = "goToCommercePage(row.id)" color = "success">
                <ion-label>{{row.name}}</ion-label>
              </ion-item>  
              <ion-item>
                <ion-label>Направление</ion-label>
                <ion-note slot="end" color="primary"><p>Направление 1</p></ion-note>
              </ion-item>  
              <ion-item>
                <ion-label>Руководитель</ion-label>
                <ion-note slot="end" color="primary"><p>{{row.leader}}</p></ion-note>
              </ion-item>  
              <ion-item>
                <ion-label>Активный этап</ion-label>
                <ion-note slot="end" color="primary"><p>Этап 1</p></ion-note>
              </ion-item> 
              <ion-item>
                <ion-label>Статус этапа</ion-label>
                <ion-note slot="end" color="primary"><p>Статус 1</p></ion-note>
              </ion-item>

              <mat-accordion >
                <mat-expansion-panel hideToggle *ngFor="let row of stageData" >
                  <mat-expansion-panel-header >
                    <mat-panel-title>
                      {{row.title}}
                    </mat-panel-title>
                    <mat-panel-description style="color: black;">
                      {{row.stageStatus}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ion-list >
                    <ion-item color = "success">
                      <ion-label> Статус акта</ion-label>
                      <ion-note slot="end"><p style="font-size: 15px; color:white;">Подписан</p></ion-note>
                    </ion-item>
                    <ion-item>
                      <ion-label>Реквезиты</ion-label>
                      <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.reqi}}</p></ion-note>
                    </ion-item>
                    <ion-item>
                      <ion-label>Срок окончания этапа</ion-label>
                      <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                    </ion-item>
                    <ion-item>
                      <ion-label>Дата подписания акта</ion-label>
                      <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                    </ion-item>
                    <ion-item>
                      <ion-label>Сумма по этапу (с НДС)</ion-label>
                      <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.sum1}} $</p></ion-note>
                    </ion-item>
                    <ion-item>
                      <ion-label>Сумма выплат субподрядчикам, лицензиям и т.д.</ion-label>
                      <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.sum2}} $</p></ion-note>
                    </ion-item>
                    <ion-item>
                      <ion-label>Итого</ion-label>
                      <ion-note slot="end" color="primary"><p style="font-size: 15px;">{{row.sum3}} $</p></ion-note>
                    </ion-item>
                    <ion-item>
                      <ion-label>Дата оплаты по договору</ion-label>
                      <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                    </ion-item>
                    <ion-item>
                      <ion-label>Фактическая дата оплаты</ion-label>
                      <ion-datetime value="2020-10-19" placeholder="Select Date"></ion-datetime>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Комментарии этапа</ion-label>
                      <ion-textarea></ion-textarea>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Проблемы этапа</ion-label>
                      <ion-textarea [(ngModel)]="row.problem"></ion-textarea>
                    </ion-item>
                  </ion-list>
                </mat-expansion-panel>
              </mat-accordion>
            </ion-list>
            <hr>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
