<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-buttons slot="end">
      <ion-button>
        Аккаунт
      </ion-button>
    </ion-buttons>
    <ion-title>Проекты</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-segment  (ionChange)="segmentChanged($event)">
    <ion-segment-button value="presale" (click)="toggleAnimation()">
      <ion-label>Пресейл</ion-label>
    </ion-segment-button>
    <ion-segment-button value="commerce" (click)="toggleAnimation()">
      <ion-label>Коммерция</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content  *ngIf = "slotToShow === 'presale'" >
  <ion-grid>
    <ion-row>
      <ion-col size-md ="6" offset-md = "3">
        <ion-searchbar></ion-searchbar>
        <ion-card #presale>
          <ion-card-header>Пресейл</ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item button (click) = "goToDetails(0)" color = "success">
                <ion-label>Направление 1</ion-label>
              </ion-item>  
              <ion-item>
                <ion-label>Заказчик</ion-label>
                <ion-note slot="end" color="primary"><p>Илон Маск</p></ion-note>
              </ion-item>  
              <ion-item>
                <ion-label>Проект</ion-label>
                <ion-note slot="end" color="primary"><p>Деловые линии</p></ion-note>
              </ion-item>  
              <ion-item>
                <ion-label>Ответственный за пресейл</ion-label>
                <ion-note slot="end" color="primary"><p>Иванов И.И.</p></ion-note>
              </ion-item> 
              <ion-item>
                <ion-label>Этап пресейла</ion-label>
                <ion-note slot="end" color="primary"><p>Этап 1</p></ion-note>
              </ion-item> 
              <ion-item>
                <ion-label>Статус</ion-label>
                <ion-note slot="end" color="primary"><p>Статус 1</p></ion-note>
              </ion-item>  
            </ion-list>
            <hr>
            <ion-list>
              <ion-item button (click) = "goToDetails(1)" color = "success">
                <ion-label>Направление 2</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Заказчик</ion-label>
                <ion-note slot="end" color="primary"><p>Илон Маск</p></ion-note>
              </ion-item>  
              <ion-item>
                <ion-label>Проект</ion-label>
                <ion-note slot="end" color="primary"><p>Деловые линии</p></ion-note>
              </ion-item>  
              <ion-item>
                <ion-label>Ответственный за пресейл</ion-label>
                <ion-note slot="end" color="primary"><p>Иванов И.И.</p></ion-note>
              </ion-item> 
              <ion-item>
                <ion-label>Этап пресейла</ion-label>
                <ion-note slot="end" color="primary"><p>Этап 1</p></ion-note>
              </ion-item> 
              <ion-item>
                <ion-label>Статус</ion-label>
                <ion-note slot="end" color="primary"><p>Статус 1</p></ion-note>
              </ion-item>  
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf = "slotToShow === 'commerce'" >
  <ion-grid>
    <ion-row>
      <ion-col size-md ="6" offset-md = "3">
        <ion-searchbar [(ngModel)] = "searchStr"></ion-searchbar>
        <ion-card *ngFor="let row of projectData | search: searchStr">
          <ion-card-header>Коммерция</ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item button (click) = "goToCommercePage(row.id)" color = "success">
                <ion-label>{{row.name}}</ion-label>
              </ion-item>  
              <ion-item>
                <ion-label>Направление</ion-label>
                <ion-note slot="end" color="primary"><p>Направление 1</p></ion-note>
              </ion-item>  
              <ion-item>
                <ion-label>Руководитель</ion-label>
                <ion-note slot="end" color="primary"><p>{{row.leader}}</p></ion-note>
              </ion-item>  
              <ion-item>
                <ion-label>Активный этап</ion-label>
                <ion-note slot="end" color="primary"><p>Этап 1</p></ion-note>
              </ion-item> 
              <ion-item>
                <ion-label>Статус этапа</ion-label>
                <ion-note slot="end" color="primary"><p>Статус 1</p></ion-note>
              </ion-item>

              <ion-button expand = "full" color = "primary">Этап коммерции</ion-button>
            </ion-list>
            <hr>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
