<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title>
      Занятость сотрудников
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "users">
  <ion-grid>
    <ion-row>
      <ion-col size-md = "6" offset-md = "3">
        <ion-card>
          <ion-list>
            <ion-card-header>Занятость</ion-card-header>
            <ion-card-content>
              <ion-item *ngFor = "let user of users">
                <ion-label>

                  <mat-accordion>
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <ion-label>
                            {{user.name}} 
                            <p>Месячная занятость: 100%</p>
                          </ion-label> 
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ion-row>

                        <ion-col size-md = "3">
                          Project name
                        </ion-col>
                        <ion-col size-md = "3">
                          Project part
                        </ion-col>
                      </ion-row>
                      <ion-row *ngFor = "let project of projects">
                        <ion-col size-md = "3" style="text-align: left;">
                          {{project.name}}
                        </ion-col>
                        <ion-col size-md = "3" style="text-align: left;">
                          {{project.part}} %
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size-md = "12">
                          <canvas baseChart
                                  [datasets] = "barChartData"
                                  [labels] = "barChartLabels"
                                  [legend] = "barChartLegend"
                                  [options]="barChartOptions"
                                  [chartType] = "barChartType">
                                </canvas>
                        </ion-col>
                      </ion-row>
                    </mat-expansion-panel>
                  </mat-accordion>
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>