<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title>
      Сотрудники по отделам
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md = "6" offset-md = "3">
        <ion-searchbar [(ngModel)] = "searchStr"></ion-searchbar>
        <ion-card>
          <ion-list>
           <ion-card-header>Сотрудники</ion-card-header>
            <ion-card-content>
              <ion-item *ngFor = "let user of userTable | search: searchStr">
                <ion-avatar slot = "start">
                  <ion-img [src] = "user.img"></ion-img>
                </ion-avatar>
                <ion-label>
                  {{user.name}} 
                  <p>{{user.position}} {{user.group}}</p>
                </ion-label> 
                <ion-button [routerLink] = "['/tabs/tab1/users', user.id - 1]" [routerAnimation]="" ><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
              </ion-item>
            </ion-card-content>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


