
.mat-expansion-panel-header-description{
  display: block;
}
.mat-expansion-panel-header-title{
  display: block;
}
mat-expansion-panel-header {
  display: contents;
}
.sc-ion-buttons-md-h {
  margin-left: 30%;
  margin-right: 30%;
}
