<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title>
      Вакансии
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" style="width: 90%;">
    <ion-segment-button value="new_vacancy" >
      <ion-label>Вакансии</ion-label>
    </ion-segment-button>
    <ion-segment-button value="free_guys">
      <ion-label>Свободные сотрудники</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<br>
<ion-content *ngIf="mobile">
<ion-content *ngIf = "(slotToShow ==='new_vacancy') &&  (vacancyList)">
  <ion-grid>
    <ion-row>
      <ion-col size-md = "9" offset-md = "1">
        <ion-list-header>
          Открытые вакансии
        </ion-list-header>
              <ion-list *ngFor = "let vacancy of vacancyList" >
                <ion-item  >
                  <ion-label>
                    <h2>Проект: {{vacancy.project_name}} </h2>
                    <h3>Контактное лицо: {{vacancy.responsible}}</h3>
                    <h3> Вакансия: {{vacancy.vacancy}}</h3>
                  </ion-label>
                </ion-item>
                <ion-row>
                  <ion-col size-md = "5">
                    <ion-item>
                      <ion-label>Статус заявки</ion-label>
                      <ion-select value="{{vacancy.status}}" okText="Выбрать" cancelText="Скрыть">
                        <ion-select-option value="open">Открыта</ion-select-option>
                        <ion-select-option value="meeting">Назначена встреча</ion-select-option>
                        <ion-select-option value="closed">Закрыта</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf = "(slotToShow ==='free_guys') && (vacancyList)">
  <ion-grid>
    <ion-row>
      <ion-col size-md = "8" offset-md = "2">
        <ion-list-header>
          Свободные сотрудники
        </ion-list-header>
        <ion-list *ngFor="let row of userList" >
          <ion-item  >
            <ion-label>
              <h2 >ФИО: {{row.name}} </h2>
              <h3>Контактное лицо: {{row.leader}}</h3>
              <h3> Должность: {{row.position}}</h3>
              <h3> Свободен: {{row.busy}}</h3>
            </ion-label>
          </ion-item>
          <ion-row>
            <ion-col size-md = "5">
              <ion-item>
                <ion-label>Статус заявки</ion-label>
                <ion-select value="" okText="Выбрать" cancelText="Скрыть">
                  <ion-select-option value="open">Открыта</ion-select-option>
                  <ion-select-option value="meeting">Назначена встреча</ion-select-option>
                  <ion-select-option value="closed">Закрыта</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</ion-content>
<ion-content>
  <ion-content *ngIf = "(slotToShow ==='new_vacancy') &&  (vacancyList)">
    <ion-grid>
      <ion-row>
        <ion-col size-md = "9" offset-md = "1">
          <h1>Вакансии <ion-button class="add-button" [routerLink]="['add-new-vacancy']">Добавить вакансию</ion-button></h1>
          <ion-card *ngFor = "let vacancy of vacancyList">
            <ion-card-header>
              <a [routerLink] = "['vacancy', vacancy.id ]">
                <h2>Проект: {{vacancy.projectName}}</h2>
              </a>
            </ion-card-header>
            <ion-list >
            <ion-item  >
              <ion-label>
                <h3>Контактное лицо: {{vacancy.responsible}}</h3>
                <h3> Вакансия: {{vacancy.vacancy}}</h3>
                <h3>Срок работ по проекту: {{vacancy.date}}</h3>
              </ion-label>
            </ion-item>
            <ion-row>
              <ion-col size-md = "5">
                <ion-item>
                  <ion-label>Статус заявки</ion-label>
                  <ion-select value="{{vacancy.status}}" okText="Выбрать" cancelText="Скрыть">
                    <ion-select-option value="open">Открыта</ion-select-option>
                    <ion-select-option value="meeting">Назначена встреча</ion-select-option>
                    <ion-select-option value="closed">Закрыта</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-col size-md = "9" offset-md = "1">
                <mat-accordion >
                  <ion-col size-md = "9" offset-md = "1">
                  <mat-expansion-panel hideToggle  style="width: 145vh">
                    <mat-expansion-panel-header >
                       <h3>Подробнее</h3>
                    </mat-expansion-panel-header>
                    <ion-card>
                      <ion-card-header>
                        История взаимодействий
                      </ion-card-header>
                    <ion-textarea >
                    </ion-textarea>
                    </ion-card>
                    <ion-label>
                      <ion-label>Дата изменения:
                        <ion-datetime
                                value="1990-02-19" placeholder="Select Date">
                        </ion-datetime>
                      </ion-label>
                      <ion-button>Сохранить</ion-button>
                    </ion-label>
                  </mat-expansion-panel>
                  </ion-col>
                </mat-accordion>
                </ion-col>
              </ion-col>
            </ion-row>
          </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-content *ngIf = "(slotToShow ==='free_guys') && (vacancyList)">
    <ion-grid>
      <ion-row>
        <ion-col size-md = "9" offset-md = "1">
          <h1>Свободные сотрудники</h1>
          <ion-card *ngFor="let row of userList" >
            <ion-item  >
              <ion-label>
                <h2><a [routerLink]="['/tabs/tab1/users', row.id - 1]"> ФИО: {{row.name}} </a> </h2>
                <h3>Контактное лицо: {{row.leader}}</h3>
                <h3> Должность: {{row.position}}</h3>
                <h3> Свободен: {{row.busy}}</h3>
              </ion-label>
            </ion-item>
            <ion-row>
              <ion-col size-md = "5">
                <ion-item>
                  <ion-label>Статус заявки</ion-label>
                  <ion-select value="" okText="Выбрать" cancelText="Скрыть">
                    <ion-select-option value="open">Открыта</ion-select-option>
                    <ion-select-option value="meeting">Назначена встреча</ion-select-option>
                    <ion-select-option value="closed">Закрыта</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
