<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title>
      Вакансия
    </ion-title>
    <ion-button slot="end">Статус</ion-button>
    <ion-button slot="end">Редактировать</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content *ngFor="let row of vacancyData">
  <ion-card>
    <ion-card-content>
      <ion-col size-md = "6" >
      </ion-col>
    </ion-card-content>
    <ion-row>
      <ion-col class="first-col">
        <div>
          <ion-item>
           <ion-row>
             <ion-label>Контактное лицо </ion-label>
           </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label> Источник вакансии </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label> Вакантая должность  </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label> Обоснования появления вакансии </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label> Должностные обязанности  </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Название проекта </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <br> <br>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Базовое образование </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Дополнительное образование </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Общий стаж работы </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Опыт работы в указанной должности </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Профессиональные навыки </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Опыт работы с технологиями и <br> програмными продуктами </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Иностранный язык (степень владения </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Дополнительные требования </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <br><br>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Пол </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Возраст </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Семейное положение </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Прописка, гражданство </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Дополнительные требования </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Дополнительные требования </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Личностные качества, необходимые <br>для успешной работы </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Субъективные пожелания </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Дата предполагаемого выхода  <br> сотрудника на работу </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Место работы </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Режим работы </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Командировки, их продолжительность </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Испытательный срок, его <br>продолжительность </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Имя/Ссылка на файл с тестовым <br>заданием </ion-label>
            </ion-row>
          </ion-item>
        </div>
      </ion-col>
      <ion-col class="second-col">
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.responsible}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.vacancySource}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.vacancy}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label></ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label> </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
            <ion-row>
              <h3 style="font-weight: bold ; color: #0d0d0d">Квалификационные требования</h3>
            </ion-row>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Контактное лицо </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-row>
            <h3 style="font-weight: bold ; color: #0d0d0d">Персональные требования </h3>
          </ion-row>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-row>
              <ion-label>{{row.projectName}} </ion-label>
            </ion-row>
          </ion-item>
        </div>
      </ion-col>
      <ion-col class="third-col">
        <div>
          <ion-item>
            <ion-row>
              <ion-label>Дата изменения: {{row.date}} </ion-label>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-label>Срок работы по проекту:  </ion-label>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-label>Количество</ion-label>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-label>Возможность удаленной работы <ion-checkbox></ion-checkbox> </ion-label>
            </ion-row>
          </ion-item>
        </div>
        <div>
          <h3 style="font-weight: bold ; color: #0d0d0d">Оплата труда</h3>
        </div>
        <ion-item>
          <ion-row>
            <ion-label>Оклад на испытательный <br> срок  </ion-label>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-row>
            <ion-label>Оклад по окончанию <br> испытательного срока  </ion-label>
          </ion-row>
        </ion-item>
        <div>
          <ion-row>
            <ion-textarea rows="38" cols="5" placeholder="История взаидействий " style="border: solid 1px black">
            </ion-textarea>
          </ion-row>
        </div>
        <br>
        <div>
          <ion-button>Сохранить</ion-button>
        </div>
        <br>
        <div style="border: solid 1px black">
          <ion-item>
            <ion-row>
              <ion-label>Собеседующий</ion-label>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-label>ФИО 1 </ion-label>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-label>ФИО 2</ion-label>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-label></ion-label>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row>
              <ion-label></ion-label>
            </ion-row>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
