<ion-header [translucent]="true" *ngIf="mobile">
  <ion-toolbar color = "primary">
    <ion-title>
      Сотрудники
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header [translucent]="true" *ngIf="desktop">
  <ion-toolbar color = "primary">
    <ion-avatar slot="start">
      <ion-img src="/assets/icon/logo.png"></ion-img>
    </ion-avatar>
    <ion-buttons slot="start" >
      <ion-button [routerLink]="['/tabs/tab1']">Сотрудники</ion-button>
      <ion-button [routerLink]="['/tabs/tab3']">Вакансии</ion-button>
      <ion-button [routerLink]="['/tabs/tab4']">Проекты</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf = "mobile" >
  <ion-slides pager="true" style="max-height: 100vh; overflow-y: auto;" *ngFor="let user of users" >
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-header>
          </ion-header>
        </ion-row>
        <ion-card>
          <ion-grid *ngIf="editProfile">
            <ion-row>
              <ion-col size-md = "6" offset-md = "3">
                <ion-list>
                  <ion-list-header style="font-size: large">
                    {{user.position}} ({{user.group}})
                    <br>
                    {{user.name}}
                    <ion-button (click)="editingProfile()"><ion-icon name="create"></ion-icon></ion-button>
                  </ion-list-header>
                    <ion-item>
                      <ion-label><ion-icon  name="call-outline"></ion-icon>
                        +7(999)999-99-99
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label><ion-icon name="mail-open-outline"></ion-icon>
                        mail@mail.ru
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label><ion-icon name="send-outline"></ion-icon>
                        @telegram_mail
                      </ion-label>
                    </ion-item>
                    <ion-item  >
                      <ion-label position="stacked"><strong>Примечание</strong></ion-label>
                      <ion-textarea [(ngModel)]="user.comments"  readonly="true" auto-grow></ion-textarea>
                    </ion-item>
                    <ion-item >
                      <ion-label position="stacked"><strong>Комментарии</strong></ion-label>
                      <ion-textarea [(ngModel)]="user.comments" readonly="true" auto-grow></ion-textarea>
                    </ion-item>

                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid *ngIf="!editProfile">
            <ion-row>
              <ion-col size-md = "6" offset-md = "3">
                <ion-card-header>
                  <ion-card-subtitle><ion-input [(ngModel)]="user.position"></ion-input>
                    <br>
                       <ion-input [(ngModel)]="user.group"></ion-input>
                  </ion-card-subtitle>
                  <ion-card-title color="grey">
                    <ion-input [(ngModel)]="user.name"></ion-input>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-item style="color: grey">
                    <ion-input value="+7(999)999-99-99">
                      <ion-label><ion-icon  name="call-outline"></ion-icon>
                     </ion-label>
                   </ion-input>
                  </ion-item>
                  <ion-item style="color: grey">
                    <ion-input value="mail@mail.ru">
                    <ion-label><ion-icon name="mail-open-outline"></ion-icon>
                    </ion-label>
                    </ion-input>
                  </ion-item>
                  <ion-item style="color: grey">
                    <ion-input value="@telegram_mail">
                    <ion-label><ion-icon name="send-outline"></ion-icon>
                    </ion-label>
                    </ion-input>
                  </ion-item>
                  <ion-item >
                    <ion-label position="stacked" ><strong>Примечание</strong></ion-label>
                    <ion-textarea [(ngModel)]="user.comments" auto-grow ></ion-textarea>
                  </ion-item>
                  <ion-item >
                    <ion-label position="stacked" ><strong>Комментарии</strong></ion-label>
                    <ion-textarea [(ngModel)]="user.comments" auto-grow></ion-textarea>
                  </ion-item>
                  <ion-button (click)="editingProfile()"><ion-icon name="save-outline"></ion-icon></ion-button>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-grid>

    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-header>
            <ion-toolbar>
              <ion-title>Навыки и достижения</ion-title>
            </ion-toolbar>
          </ion-header>
        </ion-row>
        <app-project></app-project>
        <ion-card *ngIf = "user">
          <ion-item>
            <ion-label style="font-size: 20px;">Компетенции и сертификаты
            </ion-label> <ion-button (click) = " editExperience()"><ion-icon name="create-outline"></ion-icon></ion-button>
          </ion-item>
          <ion-card-content>
            <div *ngIf = 'editExp'>
              <ion-item>
                <ion-input placeholder="Enter experience" required = "true" [(ngModel)] = 'newExp'></ion-input>
                <br>
              </ion-item>
              <ion-button (click) = "addExp()">Add</ion-button>
            </div>
            <ion-chip outline color="primary" *ngFor = "let experience of user.experience; index as num"><ion-icon *ngIf = "editExp" (click) = "presentAlert(num)" name="close-circle-outline"></ion-icon>
              <ion-label>{{experience}}</ion-label>
            </ion-chip>
          </ion-card-content>
        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
        <ion-col size-md = "6" offset-md = "3">
          <ion-header>
            <ion-toolbar>
              <ion-title>Активность</ion-title>
              <ion-buttons slot="end">
                <ion-button (click) = "showModal()">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-card *ngFor="let row of user.activity;let i = index">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header style="height: 100px;">
                  <mat-panel-title>
            <ion-card-header>
              <ion-card-title>
                {{row.month}}
              </ion-card-title>
            </ion-card-header>
                  </mat-panel-title>
                </mat-expansion-panel-header>
            <ion-card-content>
              <ion-row>
                <ion-col size-md = "3">
                  Project name
                </ion-col>
                <ion-col size-md = "3">
                  Project part
                </ion-col>
              </ion-row>
              <ion-row *ngFor = "let project of row.project">
                <ion-col size-md = "3" style="text-align: center;">
                  {{project.projectname}}
                </ion-col>
                <ion-col size-md = "3" style="text-align: center;">
                  {{project.busy}} %
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-md = "12">
                  <canvas baseChart
                          [datasets] = "barChartData"
                          [labels] = "barChartLabels[i]"
                          [legend] = "barChartLegend"
                          [options]="barChartOptions"
                          [chartType] = "barChartType">
                  </canvas>
                </ion-col>
              </ion-row>
            </ion-card-content>
              </mat-expansion-panel>
            </mat-accordion>
          </ion-card>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-content *ngIf="desktop">
<ion-content *ngFor=" let users of users" >
  <ion-grid>
    <ion-row>
      <ion-header>
        <ion-toolbar>
          <ion-title >{{users.name}}</ion-title>
        </ion-toolbar>
      </ion-header>
    </ion-row>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size-md = "9" offset-md = "1">
            <ion-card-header>
              <ion-card-subtitle>{{users.position}} ({{users.group}})</ion-card-subtitle>
              <ion-card-title>{{users.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label><ion-icon  name="call-outline"></ion-icon>
                  +7(999)999-99-99
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label><ion-icon name="mail-open-outline"></ion-icon>
                  mail@mail.ru
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label><ion-icon name="send-outline"></ion-icon>
                  @telegram_mail
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <strong>Примечание</strong>
                  <ion-textarea [(ngModel)]="users.comments">
                  </ion-textarea>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <strong>Комментарии</strong>
                  <ion-textarea [(ngModel)]="users.comments">
                  </ion-textarea>
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-header>
        <ion-toolbar>
          <ion-title>Навыки и достижения</ion-title>
        </ion-toolbar>
      </ion-header>
    </ion-row>
    <app-project></app-project>
    <ion-card *ngIf = "user">
      <ion-item>
        <ion-label style="font-size: 20px;">Компетенции и сертификаты
        </ion-label> <ion-button (click) = " editExperience()"><ion-icon name="create-outline"></ion-icon></ion-button>
      </ion-item>
      <ion-card-content>
        <div *ngIf = 'editExp'>
          <ion-item>
            <ion-input placeholder="Enter experience" required = "true" [(ngModel)] = 'newExp'></ion-input>
            <br>
          </ion-item>
          <ion-button (click) = "addExp()">Add</ion-button>
        </div>
        <ion-chip outline color="primary" *ngFor = "let experience of users.experience; index as num"><ion-icon *ngIf = "editExp" (click) = "presentAlert(num)" name="close-circle-outline"></ion-icon>
          <ion-label>{{experience}}</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size-md = "9" offset-md = "1">
        <ion-header>
          <ion-toolbar>
            <ion-title>Активность</ion-title>
            <ion-buttons slot="end">
              <ion-button (click) = "showModal()">
                Добавить
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-card *ngFor="let row of users.activity;let i = index">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header style="height: 100px;">
                <mat-panel-title>
                  <ion-card-header>
                    <ion-card-title>
                      {{row.month}}
                    </ion-card-title>
                  </ion-card-header>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ion-card-content>
                <ion-row>
                  <ion-col size-md = "3">
                    Project name
                  </ion-col>
                  <ion-col size-md = "3">
                    Project part
                  </ion-col>
                </ion-row>
                <ion-row *ngFor = "let project of row.project">
                  <ion-col size-md = "3" style="text-align: center;">
                    {{project.projectname}}
                  </ion-col>
                  <ion-col size-md = "3" style="text-align: center;">
                    {{project.busy}} %
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-md = "12">
                    <canvas baseChart
                            [datasets] = "barChartData"
                            [labels] = "barChartLabels[i]"
                            [legend] = "barChartLegend"
                            [options]="barChartOptions"
                            [chartType] = "barChartType">
                    </canvas>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </mat-expansion-panel>
          </mat-accordion>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</ion-content>
