<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title>
      Сотрудники
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf = "user">
  <ion-slides pager="true" style="max-height: 100vh; overflow-y: auto">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-header>
            <ion-toolbar>
              <ion-title>{{user.name}}</ion-title>
            </ion-toolbar>
          </ion-header>
        </ion-row>
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col size-md = "6" offset-md = "3">

                  <ion-card-header>
                    <ion-card-subtitle>{{user.position}} ({{user.group}})</ion-card-subtitle>
                    <ion-card-title>{{user.name}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-item>
                      <ion-label><ion-icon  name="call-outline"></ion-icon>
                        +7(999)999-99-99
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label><ion-icon name="mail-open-outline"></ion-icon>
                        mail@mail.ru
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label><ion-icon name="send-outline"></ion-icon>
                        @telegram_mail
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>
                        <strong>Примечание</strong>
                        <ion-textarea [(ngModel)]="user.comments">


                        </ion-textarea>
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>
                        <strong>Комментарии</strong>
                        <ion-textarea [(ngModel)]="user.comments">

                        </ion-textarea>
                      </ion-label>
                    </ion-item>
                  </ion-card-content>

              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-header>
            <ion-toolbar>
              <ion-title>Навыки и достижения</ion-title>
            </ion-toolbar>
          </ion-header>
        </ion-row>
        <app-project></app-project>
        <ion-card *ngIf = "user">
          <ion-item>
            <ion-label style="font-size: 20px;">Компетенции и сертификаты
            </ion-label> <ion-button (click) = " editExperience()"><ion-icon name="create-outline"></ion-icon></ion-button>
          </ion-item>
          <ion-card-content>
            <div *ngIf = 'editExp'>
              <ion-item>
                <ion-input placeholder="Enter experience" required = "true" [(ngModel)] = 'newExp'></ion-input>
                <br>
              </ion-item>
              <ion-button (click) = "addExp()">Add</ion-button>
            </div>
            <ion-chip outline color="primary" *ngFor = "let experience of user.experience; index as num"><ion-icon *ngIf = "editExp" (click) = "presentAlert(num)" name="close-circle-outline"></ion-icon>
              <ion-label>{{experience}}</ion-label>
            </ion-chip>
          </ion-card-content>
        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
        <ion-col size-md = "6" offset-md = "3">

          <ion-header>
            <ion-toolbar>
              <ion-title>Активность</ion-title>
              <ion-buttons slot="end">
                <ion-button (click) = "showModal()">
                  Добавить
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-card *ngFor="let row of user.activity;let i = index">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header style="height: 100px;">
                  <mat-panel-title>
            <ion-card-header>
              <ion-card-title>
                {{row.month}}
              </ion-card-title>
            </ion-card-header>
                  </mat-panel-title>
                </mat-expansion-panel-header>
            <ion-card-content>
              <ion-row>
                <ion-col size-md = "3">
                  Project name
                </ion-col>
                <ion-col size-md = "3">
                  Project part
                </ion-col>
              </ion-row>
              <ion-row *ngFor = "let project of row.project">
                <ion-col size-md = "3" style="text-align: center;">
                  {{project.projectname}}
                </ion-col>
                <ion-col size-md = "3" style="text-align: center;">
                  {{project.busy}} %
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-md = "12">
                  <canvas baseChart
                          [datasets] = "barChartData"
                          [labels] = "barChartLabels[i]"
                          [legend] = "barChartLegend"
                          [options]="barChartOptions"
                          [chartType] = "barChartType">
                  </canvas>
                </ion-col>
              </ion-row>
            </ion-card-content>
              </mat-expansion-panel>
            </mat-accordion>
          </ion-card>

        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

