<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title>Добавить этап</ion-title>
    <ion-buttons slot="end">
      <ion-button (click) = "close()">Close</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click) = "close()">Добавить</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label position="floating">Месяц</ion-label>
                <ion-textarea [(ngModel)] = "stage.month"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Наименование проекта</ion-label>
                <ion-textarea [(ngModel)] = "stage.projectname"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Процент занятости</ion-label>
                <ion-textarea [(ngModel)] = "stage.busy"></ion-textarea>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
